.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.td-left {
 text-align: left;
 padding-left: 21%;
 border-bottom: 1px solid lightblue;

}

.td-right {
  text-align: left;
 padding-left: 12%;
 border-bottom: 1px solid lightblue;
}

.td-leftContainer {
  padding: 10px;
 
}

.iconImg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  padding-left: 15px;
}

.exchangeName {
  text-decoration: none;
  padding-left: 10px;
  cursor: pointer;
}

.pagination {
  padding: 10px;
  display: inline-flex;
  align-items: center;
}

.paginationButton{
  min-width: 200px;
  height: 40px;
  margin-left: 15px;
  border-radius: 50px;
  border: 1px solid lightblue;
  background-color: white;
}

.paginationButton-active {
  min-width: 200px;
  height: 40px;
  margin-left: 15px;
  border-radius: 50px;
  border: 1px solid lightblue;
  background-color: #4486d7;
  color: #fff

}

.paginationIndex{
  margin-left: 15px;
  background-color: #fff;
  border: none;
}

.paginationIndex-active{
  margin-left: 15px;
  background-color: #4486d7;
  border: none;
}